* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'segundaFonte';
    src: url("../fonts/cable_dingbats.zip");
}

body {
    background-color: #252525;
    color: white;
    width: 100%;
    background-image: url(../img/nuvens.jpg);
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

header img {
    width: 8%;
}

nav {
    background-color: rgb(145, 26, 5);
    font-family: 'segundaFonte';
    padding: 1rem;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 23px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.5s;
}

a:hover {
    color: rgb(204, 166, 159);
}

.active {
    color: rgb(204, 166, 159);
    text-indent: 10px;
}

main {
    height: 75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 7rem;
    margin-left: 1rem;
    margin-right: 2rem;
}

/* Menu Lateral Inicio  */

.navAside {
    background-color: rgb(145, 26, 5);
    width: 25vw;
    height: 75vh;
    display: flex;
    align-items: center;
    padding: 0;
    border-radius: 10px;
}

.ulAside {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none;
    width: 100%;
    height: 100%;
}

.linkAside {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #303030;
    transition: 0.5s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.paragrafoAside {
    padding-left: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
}

.ultimoLink {
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.primeiroLink {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.linkAside:hover {
    background-color: rgb(160, 60, 43, 0.5);
    text-indent: 10px;
}

/* Menu Lateral fim */

#box {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.box-reverse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 50%;
}

.imagem {
    width: 100%;
    border-radius: 2px;
}

p {
    height: 100%;
    width: 60%;
    padding: 1rem;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-indent: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border-top: 1px solid #585353;
}

h4 {
    font-family: "Boldonse", system-ui;
    padding-left: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}