* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'terceiraFonte';
    src: url("../fonts/sunday_midnight.zip");
}

body {
    background-color: #252525;
    color: white;
    width: 100%;
    background-image: url(../img/nuvens.jpg);
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lora", serif;
    position: fixed;
    z-index: 1;
}

header img {
    width: 8%;
}

nav {
    background-color: rgb(145, 26, 5);
    padding: 1rem;
    /* margin-top: 1rem; */
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 23px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.5s;
}

a:hover {
    color: rgb(204, 166, 159);
}

.active {
    color: rgb(204, 166, 159);
    text-indent: 10px;
}

/* Conteudo Principal da Página */

main {
    height: 125vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7rem;
    margin-left: 1rem;
    margin-right: 2rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Menu Lateral Inicio */

.navAside {
    background-color: rgb(145, 26, 5);
    width: 25vw;
    height: 75vh;
    display: flex;
    align-items: center;
    padding: 0;
    border-radius: 10px;
}

.ulAside {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none;
    width: 100%;
    height: 100%;
}

.linkAside {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #303030;
    transition: 0.5s;
    font-family: "Lora", serif;
}

.paragrafoAside {
    padding-left: 1.5rem;
    font-size: 23px;
    display: inline;
}

.ultimoLink {
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.primeiroLink {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.linkAside:hover {
    background-color: rgb(160, 60, 43, 0.5);
    text-indent: 10px;
}

/* Menu Lateral fim */

.textAndImage {
    position: relative;
    overflow: hidden;
    transition: 1s;
    display: flex;
    justify-content: center;
}

p {
    font-family: "Playfair", serif;
    width: 80%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 1s;
}

.textAndImage:hover {
    transform: scale(1.05);
}

.textAndImage:hover P {
    opacity: 1;
    top: 50%;
    background-color: #303030;
    width: 60%;
    padding: 2rem;
    border-radius: 10px;
}

.textAndImageSiga:hover P {
    opacity: 1;
    top: 50%;
    background-color: #303030;
    width: 90%;
    padding: 2rem;
    border-radius: 10px;
}

.imagem {
    border-radius: 10px;
    transition: 1s;
}

.imagemSobreNos {
    width: 70%;
}

/* Segunda div da main */

.box-reverse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 1rem; */
    padding-top: 1.5rem;
}

span {
    /* height: 100%; */
    padding: 1rem;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-indent: 2%;
    font-family: "Playfair", serif;
}

.segundaImagem {
    width: 90%;
}


/* Rodapé da Página */
footer {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border-top: 1px solid #585353;
}

h4 {
    padding-left: 2rem;
    font-family: 'terceiraFonte';
    width: 100%;
    display: flex;
    justify-content: center;
}